*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body
{
    font-family: sans-serif;
}
/* banner-setion */
#banner{
    background-image: linear-gradient(to right, #43cea2, #185a9d);
    color: black;
    padding-top: 5%;
}
.promo-title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 100px;
}
.para{
    font-style: normal;
    font-size: 30px;
}
.content{
    display: flex;
}

.bottom-img{
    width: 100%;
}
.text-center mt-5 py-2{
    background-color: grey;
}

@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
	}
}